* {
    box-sizing: border-box;
  }

  .column.is-3 {
    width: 15%;
  }

  .content {
    padding-top: 10px;
  }

  .imgLogo {
    width: 250px;
    height: 66px;
    float: left;
  }

  .logo {
    width: 50%;
  }

  .logout {
    width: 50%;
  }

  .logout div{
    float: right;
  }

  .hero-body {
    display: flex;
  }

  .twothird {
    width: 85%;
  }
  
  body {
    margin: 20px 10px;
  }

  .test {
    margin-top: 300px;
  }
  
  h3 {
    padding:6px 0px 0px 0px;
  }